  <div id="voting_stats">
    <div>
      <h3>Statystyka głosowania</h3>
      <div class="div_tab">
        <div class="div_row"><div class="div_col1">Liczba uprawnionych do głosowania</div><div class="div_col2">{{area.entitled}}</div></div>
        <div class="div_row"><div class="div_col1">Liczba wydanych kart do głosowania</div><div class="div_col2">{{area.cards}}</div></div>
        <div class="div_row"><div class="div_col1">Liczba kart wyjętych z urny</div><div class="div_col2">{{area.votes}}</div></div>
        <div class="div_row"><div class="div_col1">Liczba ważnych głosów</div><div class="div_col2">{{area.valid}}</div></div>
        <div class="div_row"><div class="div_col1">Liczba nieważnych głosów</div><div class="div_col2">{{area.invalid}}</div></div>
        <div class="div_row"><div class="div_col1">Frekwencja</div><div class="div_col2">{{area.attendance}}</div></div>
      </div>
    </div>
  </div>
